<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/registor" method="post">

        <label>first Name</label>
        <input type="text" id="first" name="firstname" />
        <label>Last Name</label>
        <input type="text" name="lastname" />
        <label>email</label>
        <input type="email" name="email" />
        <label>password</label>
        <input type="password" name="password" />
        <label>conform password</label>
        <input type="password" name="conf_password" />

        <button type="submit"> Submit</button>
      </form>
    </div>
  </body>
</html>